${CIDEMIS_BATCH_CRON_STATS} cd /scripts/ ; /scripts/cidemisBatchExportStatistiques.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
${CIDEMIS_BATCH_CRON_MAILING} cd /scripts/ ; /scripts/cidemisBatchMailCIEPS.sh 1>/proc/1/fd/1 2>/proc/1/fd/2
